{% extends "base.html" %}

{% import "macros/cards.html" as cards %}

{% block content %}
<section>
  <div class="h-card">
    <img class="rounded u-photo" src="{{ get_url(path='img/kilian.jpg') | safe }}" alt="Kilian" />
    <a class="u-url" href="{{ config.base_url }}" hidden></a>
    <article>
      <p>
        Hi, my name&#39;s <span class="p-name">Kilian</span> and I&#39;m a software developer in
        Dresden, Germany. I like to
        <a href="https://github.com/kiliankoe">write code</a>.
        Mostly for things on iOS, macOS and the web. I&#39;m also an
        <a href="/minister">ordained pastafarian minister</a>
        and a <a href="/lord">lord of Sealand</a>.
      </p>
      <p>
        <a href="/cv.html">Here&#39;s</a> a copy of my CV if
        that&#39;s what you&#39;re looking for.
      </p>
      <p>
        If you&#39;re looking to contact or find me online, please
        choose from the following:
      </p>
      <ul>
        <li>E-Mail: <a href="mailto:me@kilian.io">me@kilian.io</a></li>
        <li>Matrix: <a href="https://matrix.to/#/@kilian:kernkraftwerk.lol">@kilian:kernkraftwerk.lol</a></li>
        <li>Fediverse: <a rel="me" href="https://chaos.social/@kilian">@kilian@chaos.social</a></li>
        <li>Bluesky: <a rel="me" href="https://bsky.app/profile/kilian.io">@kilian.io</a></li>
        <li>GitHub: <a href="https://github.com/kiliankoe">kiliankoe</a></li>
        <li>Feed: <a href="/feed">kilko.de/feed</a></li>
        <li>Blog: <a href="/blog">kilko.de/blog</a></li>
      </ul>
      <p>
        Please consider using my GPG key
        <a href="https://keys.openpgp.org/vks/v1/by-fingerprint/C9A3E8D15DA9ABB53A712C768AAFA4490AB3EE6C">(0x0AB3EE6C)</a>
        for email correspondence.
      </p>
      <p>Looking forward to hearing from you! 👋</p>
      <br />
      <p id="postscriptum" hidden><sup>P.S. Remember the konami code?</sup></p>
    </article>
  </div>

  {% set feed = get_section(path="feed/_index.md") %}
  {% if feed.pages %}
  <article class="recently">
    <h2>Recently</h2>
    <ul class="feed-list compact">
      {% for page in feed.pages | slice(end=10) %}
      <li>{{ cards::card(page=page, compact=true) }}</li>
      {% endfor %}
    </ul>
    <p><a href="/feed">More on /feed →</a></p>
  </article>
  {% endif %}
</section>
<script src="{{ get_url(path='js/konami.js') | safe }}"></script>
{% endblock content %}
